<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">Ask timujin</a>
				<form class="navbar-form pull-left">
					<input class="span2" type="text">
					<button class="btn" type="submit">Submit</button>
				</form>
				{% if user.is_authenticated %}
				<a class="btn span1" href="/ask">Ask!</a>
				{% endif %}
				{% include 'user.html' %}
			</div>
		</div>

		<div class="row">
			<div class="span9">
				{% block main %}stud{% endblock %}
			</div>
			<div class="span3">
				<div>
					<h3>Popular tags</h3> <br>
					<a href="#">Horses</a>,
					<a href="#">Steppe</a>,
					<a href="#">Conquest</a>,
				</div>
				<div>
					<h3>Best users</h3>
					<ul>
					    <li>Chengis Khan</li>
					    <li>Borte Ujin</li>
					    <li>Ogedei</li>
					    <li>Iesui</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
